*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
span{
  display: inline-block;
}
.hide{
  display: none;
}
.active{
  display: block;
}
header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.searchContainer{
  margin-right: 20px;
}
.search{
  cursor: pointer;
}
.boolflix{
  margin-left: 20px;
  color: red;
}
main{
  width: 100%;
  background-color: #808080;
  min-height: 100vh;
  color: #fff;
}
.filmContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.filmContainer h2{
  font-size: 35px;
  margin-top: 30px;
}
.box{
  width: 342px;
  height: 500px;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.lingua{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lingua span:last-child{
  margin-left: 3px;
}
.yellow{
  color: #ffcb00;
}
